<footer class="pv2 ph2 ph5-m ph6-l sans-serif light-silver">
  <small class="f6 db tc">© 2016 <br class="dn db-ns">In association with <b class="ttu">Woodland Hills Church</b>. All rights reserved.</small>
  {% comment %}
  <div class="tc mt3">
    <a href="/language/" title="Language" class="f6 dib ph2 link underline light-silver dim">Woodland Hills Church</a>
    <a href="/terms/"    title="Terms" class="f6 dib ph2 link underline light-silver dim">Arts Collective</a>
    <a href="mailto:micah@micahtaylor.com"  title="Privacy" class="f6 dib ph2 underline link light-silver dim">Contact</a>
  </div>
  {% endcomment %}
</footer>
